.git
.gitignore

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.build/
build/
dist/

.venv/
venv/
env/

.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyright/
.coverage
htmlcov/

.idea/
.vscode/
*.swp
*.swo

tests/
*.log
.env
.env.*